<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/style.css")

        title Кормежка
    body

        main.section
            .container.cat-food
                h1 Ты сегодня покормил кота?
                .card-set
                    .card-one
                        .card
                            .card-title Сказочное заморское яство
                            .card-block
                                .description
                                    h2 Нямушка
                                        small с фуа-гра
                                    p
                                        b 10
                                        |  порций
                                        br
                                        | мышь в подарок
                                .weight 0.5
                                    small кг
                        .card-text Чего сидишь? Порадуй котэ,
                            | !{" "}
                            a(href="#") купи
                            |.
                    .card-one
                        .card
                            .card-title Сказочное заморское яство
                            .card-block
                                .description
                                    h2 Нямушка
                                        small с рыбой
                                    p
                                        b 40
                                        |  порций
                                        br
                                        | 2 мыши в подарок
                                .weight 2
                                    small кг
                        .card-text Головы щучьи с чесноком да свежайшая сёмгушка.
                    .card-one
                        .card
                            .card-title Сказочное заморское яство
                            .card-block
                                .description
                                    h2 Нямушка
                                        small с курой
                                    p
                                        b 100
                                        |  порций
                                        br
                                        | 5 мышей в подарок
                                .weight 5
                                    small кг
                        .card-text Печалька, с курой закончился.






